/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');*/

#menu {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: #D9D9D9;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#menu section{
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbarFeature{
  margin-left: -5em;
  margin-right: 20em;
}

#menu section button {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.8px;
  background-color: #00000000;
  border: none;
  margin: 0 5px 0 5px;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  transition-duration: 0.3s;
  cursor: pointer;
}
#menu section button:hover {
  background-color: #00000022;
}

#menu section img {
  cursor: pointer;
  width: 40px;
  border-radius: 50%;
  margin-right: 1px;
}

#menu section #avatar {
  border: 2px solid white;
}

#avatar{
  height: 2em;
  width: 3em;
  margin-left: -2em;
  margin-right: 2em;
}
#perfilNome > label{
  margin-left: 1em;
  cursor: pointer;
}
