#fdenuncia{
    background-color: #CEC0D5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 0em;
    width: 100%;
}

 #ImagemTitulo{
    margin-top: -15em;
    margin-bottom: 10em;
 }
    

 .selectBox{
    border-radius: 5px;
    width: 100%;
    height: 50px;
    align-items: center;
 }

.selectBox > option{
    color:black;
    font-size: medium;
}

.botaod {
    margin-top: 2rem;
    padding: 0.4rem;
    background-color: #EA652D;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
    width: 100%;
    font-weight: bold;
  }
