.corpo{
  height: 100vh;
}
.container {
  padding-top: 1.5em;
  background-color: #CEC0D5;
}
.containerConteudo{
  margin-top: 0.5em;
  padding: 3em;
  display: flex;
  justify-content: space-between;
}

#perfilContainer{
  background-color: #D9D9D9;
  display: inline-flex;
  flex-direction: column;
  width: 11em;
  height: 25em;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 8px #494747;
  border-radius: 0px 5px 5px 0px;
}
#menuPerfil{
  margin-left: 2em;
}
#fotoPerfilBox{
  border: 1 solid black;
  margin-top: -7em;
  
}
#fotoPerfil{
  
}





/*FEED BOX */
#feedContainer{
    display: flex;
    flex-direction: column;
    width: 45em;
    height: 35em;
    background-color: white;
    box-shadow: 10px 10px 8px #494747;
    border-radius: 0px 25px 25px 0px;
}
#postBox{
    height: 30%;
    background-color: antiquewhite;
    border-bottom:  1px solid black;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#inputPostBox{
    background-color: rgb(255, 255, 255);
    height: 5em;
    border-radius: 15px;
    width: 60%;
    height: 4em;
}

#postagensBox{
    background-color: blue;
}









/*Grupo Container */ 
#grupoContainer{
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  width: 15em;
  height: 30em;

}
.grupoBox:first-child{
    margin-bottom: 1.5em;
}
.grupoBox{
    background-color: rgb(255, 255, 255);
    height: 15em;  
    box-shadow: 10px 10px 8px #494747;
    border-radius: 0px 5px 5px 0px;
}
