
.muralPerfil{
  height: 10em;
  border-top-right-radius: 30px;
  padding: 0.2em;
}


#fotoGrupoBox {
  width: 10em;
  border: 1 solid black;
  margin-top: -5em;
  cursor: pointer;
}
#fotoGrupoBox >img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
