.botaoVoltarAtualizar{
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: transparent;
    cursor: pointer;
    color: black;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
    width: 100%;
  }
  
.botaoAtualziar{
    margin-top: 4.5;
  } 

  .ConteudoAtualizar{
    margin-left: -1em;
  }
