#termo{
background-color: #CEC0D5;
display: flex;
align-items: center;
justify-content: center;
}

#container{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 20em;
}

#ImagemSobre{
    margin-bottom: 2em;
    margin-top: 0em;
 }
 
 #containerSobre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45%;
    margin-top: 4em;
 }