#sobre{
    background-color: #CEC0D5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#containerSobre{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 45%;
   margin-top: 4em;
}
 #perfil{
    margin-top: 1em;
    margin-bottom: 2em;
    width: 100%;
 }

 .perfilBox{
    display: flex;
    justify-content: space-evenly;
 }

 #ImagemTermos{
   margin-bottom: 2em;
   margin-top: 0em;
}

 p{
   text-align: justify;
 }

 h2{
   text-align: center;
 }