#cadastroPost {
    padding: 16px;
}

#cadastroPost input[type=text] {
    background-color: #A49AB9;
    width: 100%;
    margin: 10px;
}

#cadastroPost button {
    background-color: #FB9A71;
    width: 100%;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.7s;
}
#cadastroPost button:hover {
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.7px;
    background-color: #d35f2d;
}